* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {

    height: fit-content;
    width: 300px;
    position: absolute;
    left: 77% !important;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(135, 137, 147, 0.05), 0 15px 40px rgba(93, 95, 103, 0.2);
    animation: profileAnimation .5s;

}


.profilename {
    color: rgb(55, 55, 55);
}

.profileTilte {
    color: rgb(94, 94, 94);

}

.aboutProfile {
    display: flex;
    flex-direction: column;
    gap: 15;
}

.accountDetail {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
}

.contactDetail {
    padding-left: 20px;
    margin-top: 30px;
    text-align: left;

}

.accountDetail>div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    color: rgb(80, 80, 80);
    font-weight: 600;
    font-size: 18px;

}

.profileHead {
    color: rgb(53, 53, 53);
    font-size: 20px;
}

.contactDetail>div {
    display: flex;
    font-size: 18px;
    gap: 10px;
    align-items: center;
    padding: 5px;
    color: rgb(80, 80, 80);
    font-weight: 600;

}


@keyframes profileAnimation {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 500px;
        opacity: 1;
    }
}