* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


.aside {
    flex: 1;
    background: rgb(251, 251, 251);
    height: 100%;
    position: sticky;
    top: 50px;

}

.asideWrper {
    width: 80%;
    margin: auto;
}

.asideItem>h3 {
    color: rgb(191, 191, 191);
    margin: 20px;
}

.asideItem>ul {
    list-style: none;
    margin: 15px 0px 15px 22px;
}

.asideItem>ul>li {
    margin: 10px 0px 10px 10px;
    color: rgb(148, 148, 148);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 5px;
    font-size: 18px;
    gap: 5px;
    cursor: pointer;

}

.active {
    background: rgb(233, 233, 233);
}

.asideItem>ul>li:hover {
    background: rgb(233, 233, 233);
}